.user-list-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

.user-list-item input[type="text"] {
    flex: 2;
    margin-right: 10px;
}

.user-list-item .toggle-button {
    flex: 1;
    padding: 5px 10px;
    margin-right: 10px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.user-list-item .toggle-button.off {
    background: #6c757d;
}

.user-list-item .toggle-button.active {
    background: #28a745;
}

.user-list-item select {
    flex: 1;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.user-list-item .confirm-changes-button {
    flex: 1;
    padding: 5px 10px;
    background: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: none;
}

.user-list-item .confirm-changes-button.confirm-deletion {
    background: #dc3545;
}

.user-list-item .confirm-changes-button:hover {
    background: #218838;
}

.user-list-header {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid #ccc;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

.user-list-header span {
    flex: 1;
    margin-right: 10px;
}

.new-user-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
}

.new-user-form input[type="email"], .new-user-form input[type="password"] {
    margin-bottom: 10px;
}

.new-user-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.new-user-options button, .new-user-options select {
    flex: 1;
    margin-right: 10px;
}

.new-user-options button {
    margin: 0;
}

.new-user-options select {
    max-width: 200px;
}

.logout-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    background: #dc3545;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.logout-button:hover {
    background: #c82333;
}
