/* General Reset */
/* Import Nexa font */
@font-face {
    font-family: 'Nexa';
    src: url('../fonts/Nexa-Regular.woff2') format('woff2'),
         url('../fonts/Nexa-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa';
    src: url('../fonts/Nexa-Bold.woff2') format('woff2'),
         url('../fonts/Nexa-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
body, input, select, button {
    font-family: 'Nexa', sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #2b2b2b;
}

.login-container, .dashboard-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 45%;
    max-width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

.dashboard-container {
    width: 75%;
    max-width: 90%;
}

h2 {
    margin-bottom: 20px;
}

.logout-button, .confirm-changes-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    background: #dc3545;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.logout-button:hover {
    background: #c82333;
}

.confirm-changes-button {
    display: none;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    position: absolute;
    right: -130px; /* Position to the right outside of the item */
    top: 50%;
    transform: translateY(-50%);
}

.confirm-changes-button.confirm-deletion {
    background: #dc3545;
}

.confirm-changes-button:hover {
    background: #218838;
}

.confirm-changes-button.confirm-deletion:hover {
    background: #c82333;
}

.user-list-header, .user-list-item {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
    margin-bottom: 5px;
    border-radius: 5px;
    position: relative;
}

.user-list-header {
    background-color: #ddd;
    font-weight: bold;
}

.user-list-header span, .user-list-item input, .user-list-item button, .user-list-item select {
    flex: 1;
    padding: 8px;
    margin: 2px;
    text-align: center;
}

.user-list-item input {
    border: 1px solid #ccc;
    border-radius: 4px;
}

.user-list-item button {
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.user-list-item select {
    border: 1px solid #ccc;
    border-radius: 4px;
}

.toggle-button {
    width: 80px;
    text-align: center;
}

.user-list-header span {
    text-align: left;
}

.user-list-container {
    margin-top: 20px;
}

.user-list-header, .user-list-item {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
    margin-bottom: 5px;
    border-radius: 5px;
    position: relative;
}

.user-list-item input, .user-list-item button, .user-list-item select {
    flex: 1;
    padding: 8px;
    margin: 2px;
    text-align: center;
}

.user-list-item input {
    border: 1px solid #ccc;
    border-radius: 4px;
}

.user-list-item button {
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.user-list-item select {
    border: 1px solid #ccc;
    border-radius: 4px;
}

.user-list-header span {
    text-align: left;
}
