<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subscribe</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Subscribe to Our Channel</h1>
    <p>You need to subscribe to our Twitch channel to continue. Click the button below to subscribe.</p>
    <a href="<%= subscribeUrl %>" class="subscribe-button">Subscribe Free</a>
</body>
</html>